body {
	background-color: #eeeeee;
	font-family: 'Open Sans';
}

h1 {
	color: #444444;
}

p {
	color: #555555;
	size: 14px;
}


.navbarside {
	/* stuff */
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	/* size stuff */
	width: 20%;
	height: 100%;
	
	/* colors */
	color: black;
	background-color: white;
	
	/* "Sticky" sidebar */
	position: fixed;
	overflow: auto;
}
.navbarside li {
	display: block;
	color: black;
	padding: 8px 16px;
	
	border-bottom: 1px solid 0xcccccc;
}

.navbarside li:hover {
	background-color: #1bb5b5;
	color: white;
}


.navbartop {
	background-color: #333;
	
	/* "Sticky" sidebar */
	position: sticky;
	top: 0;
}

.navbartop a {
	color: #dfdfdf;
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbartop a:hover {
	background-color: #ddd;
	color: black;
}

.title {
	background-color: 0x1bb5b5;
	text-align: center;
}

.navbartop .icon {
	display: none;
}
